@use "./varibles" as *;

.articles-sec {
  padding-top: $main-padding-top;
  padding-bottom: $main-padding-bottom;
  position: relative;
}
.article-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.article-content .article-box {
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  background-color: $white-color;
  border-radius: 10px;
  overflow: hidden;
  transition: transform $main-transition, box-shadow $main-transition;
  &:hover {
    transform: translateY(-15px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
  }
}

.article-content .article-box img {
  max-width: 100%;
}

.article-content .article-box .box-text {
  padding: 20px;
  margin-bottom: 10px;
  h3 {
    margin: 0;
  }
  p {
    margin: 10px 0 0;
    color: $secondary-text-color;
    line-height: 1.8;
  }
}

.articles-sec .article-content .article-box {
  .article-foot {
    border-top: solid 1px #ccc;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      padding: 0 0 0 10px;
      color: $main-style-color;
      font-weight: bold;
    }

    i {
      margin-right: 10px;
      color: $main-style-color;
    }
  }
}

.article-content .article-box:hover .article-foot i {
  animation: left-and-right 1s linear infinite;
}
